apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: moviebooking-pvc
  namespace: "2401014"
  labels:
    app: moviebooking
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
